/* @font-face {
  font-family: BOTW;
  src: url(../assets/icons/The\ Wild\ Breath\ of\ Zelda.otf);
}

@font-face {
  font-family: Hylian;
  src: url(.../assets/icons/Hylian.ttf);
}

.MuiCardHeader-title {
  font-family: Hylian;
} */
