@font-face {
  font-family: Hylian;
  src: url(".../assets/fonts/Hylian.ttf") format("truetype");
}

@font-face {
  font-family: Zelda;
  src: url(The-Wild-Breath-of-Zelda.otf) format("truetype");
}

.card-title {
  font-family: Zelda;
}

h1 {
  font-family: HyliaSerif;
}
