.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
/* 
@font-face {
  font-family: Hylian;
  src: url(".../assets/fonts/HyliaSerifBeta-Regular.otf") format("truetype");
}

@font-face {
  font-family: Zelda;
  src: url(".../assets/fonts/The-Wild-Breath-of-Zelda.otf") format("truetype");
} */

@font-face {
  font-family: "Hylian";
  src: local("Hylian"),
    url("../src/assets/fonts/HyliaSerifBeta-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Zelda";
  src: local("Zelda"),
    url("../src/assets/fonts/The-Wild-Breath-of-Zelda.otf") format("truetype");
}

@font-face {
  font-family: "Kode";
  src: local("Kode"),
    url("../src/assets/fonts/KodeMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Jacquard";
  src: local("Jacquard"),
    url("../src/assets/fonts/JacquardaBastarda9-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Macondo";
  src: local("Macondo"),
    url("../src/assets/fonts/Macondo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"),
    url("../src/assets/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
}

.account-link {
  font-family: Hylian;
}

.home-link {
  font-family: Hylian;
}

h1 {
  font-family: Hylian;
}
/* 
.item-link {
  color: white;
}

.item-link:hover {
  color: yellow; /* Change the color to yellow when a mouse hovers over the link */

/* .link-icon:hover {
  filter: brightness(
    1.2
  ); /* Increase the brightness of the icon when a mouse hovers over it */

/* .category-link.active {
  color: red; /* Change the color of active links to red */
