.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(30, 29, 29);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

@font-face {
  font-family: Hylian;
  src: url(".../assets/fonts/HyliaSerifBeta-Regular.otf") format("truetype");
}

@font-face {
  font-family: Zelda;
  src: url("The-Wild-Breath-of-Zelda.otf") format("truetype");
}

.h12 {
  font-family: Zelda;
}

.h1 {
  font-family: Hylian;
}
