img {
  width: 70%;
  height: auto;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  img {
    width: 50%; /* Reduce the size of the images */
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  img {
    width: 60%; /* Adjust the size of the images */
  }
}

/* For screens larger than 900px */
@media (min-width: 900px) {
  img {
    width: 70%; /* Keep the original size of the images */
  }
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Hylian";
  padding: 3% 3%;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  gap: 10px; /* Increase the spacing between items */
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Hylian";
  padding: 3% 3%;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  gap: 10px; /* Increase the spacing between items */
}

body {
  background-color: black; /* Change the background color of the page */
}
